/*CSS reset-START!!!*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em
list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS reset-END!!!*/


/*--------PROFILE AND NAVIGATION BAR---------*/



.col-md-3 {
    max-width: 300px;
    position: fixed;
    left: 0;
}


.profile {                                                                 /* Profile section of the template */
    position: relative;
}

.img-responsive {
    width: 100%;
}


.profile .profile-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: white;
    display: block;
    position: absolute;
    margin: -97px 0 0 30px;
}

.profile .profile-expertise {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    display: block;
    position: absolute;
    margin: -58px 0 0 30px;
}


.nav-bar {                                                               /* NAVIGATION BAR of the template */
    background: #353541 repeat-y;
}


.nav-bar .nav-bar-list {
    list-style-type: none;
    border-top: 3px solid #22222f;
}

.nav-bar-list .nav-bar-list-items {
    border-bottom: 3px solid #22222f;
    padding: 22px 0 22px 11.11%;
}

.nav-bar-list-items:hover {
    background-color: #204d74;
}

.nav-bar-list-items:active {
    transform: translate(1px,2px);
}

.nav-bar-list-items a.items-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/*
.left-column-bottom {
    background-color: #1e2e3e;
    background-size: auto;
    background-repeat: repeat-y;
    height: 100%;
}

*/

/* Removing spaces between major sides (3 columns, 9 columns) of the grid

.col-sm-3, .col-md-3 {
    padding-right: 0;
}

.col-sm-9, .col-md-9 {
    padding-left: 0;
}


/* Removing spaces between major sides (3 columns, 9 columns) of the grid */




.col-md-9 {
    max-width: 950px;                                                     /* width for main body of the template...disabling float is needed for centering */
    float: none;
}



/*-------BANNER-------- */

.img-responsive {                                                          /* image of the banner */
    position: relative;
}

.banner-title {                                                           /* Title of the banner */
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: white;
    padding-top: 13%;
    text-align: center;
    position: absolute;
    width: 68%;
    margin: -58% 15.5%;
}

.banner-text {                                                           /* Description of the banner */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #dcdcdc;
    line-height: 25px;
    padding-top: 2%;
    text-align: center;
    width: 545px;
    position: absolute;
    margin: -40% 22%;
}

.banner .banner-button {                                                  /* Button of the banner */
    background-color: #fb6470;
    border: none;
    border-radius: 5px;
    width: 17.9%;
    padding: 15px 4.2% 15px 4.2%;
    position: absolute;
    margin: -28% 41% 0 41%;
}

.banner .banner-button:active {
    transform: translate(1px,2px);
}

a.banner-button-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

a.banner-button-link:hover {
    text-decoration: none;
}


/* --------PORTFOLIO (main content)--------- */

.portfolio-title {                                                       /* Header of the Portfolio*/
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: #3e3e3e;
    border-bottom: 2px solid #fb6470;
    width: 11%;
    padding-bottom: 3%;
    margin-top: 12%;
}

.portfolio-tabs {                                                      /* Tabs of the Portfolio */
    list-style-type: none;
    padding-top: 6%;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 1.5%;
}

.portfolio-tabs li {
    display: inline-block;
    margin-right: 16%;
    margin-left: 2%;
}

.portfolio-tabs li:last-of-type {
    margin-right: 0;
    margin-left: 0;
}

.portfolio-tabs li a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #3e3e3e;
}

.portfolio-tabs li a:active {
    border-bottom: 2px solid #fb6470;
    padding-bottom: 15%;
}


.col-md-6 {
    padding-left: 0;
}


.portfolio-project-1 {                                          /* Top-left portfolio project */
    margin-top: 6.5%;
}

.project-1-caption {
    background-color: #01b9c3;
}


.portfolio-project-2 {                                     /* Middle-left portfolio project */
    margin-top: 6.5%;
}

.project-2-caption {
    background-color: #3f3d3e;
}

.portfolio-project-3 {                                    /* Bottom-left portfolio project */
    margin-top: 6.5%;
}

.project-3-caption {
    background-color: #353541;
}

.portfolio-project-4 {                                   /* Top-right portfolio project */
    margin-top: 6.5%;
}

.project-4-caption {
    background-color: #1e2e3e;
}

.portfolio-project-5 {                                  /* Middle-right portfolio project */
    margin-top: 6.5%;
}

.project-5-caption {
    background-color: #0093b5;
}

.portfolio-project-6 {                                  /* Bottom-right portfolio project */
    margin-top: 6.5%;
}

.project-6-caption {
    background-color: #6176ab;
}

.caption-header {                                             /* Header for ALL portfolio projects */
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    padding: 3% 0 0 4.5%;
}

.caption-text {                                              /* Caption for ALL portfolio projects */
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 3% 0 0 4.5%;

}

.caption-button-link:hover {                                  /* Button for ALL portfolio projects */
    text-decoration: none;
}

.caption-button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin: 6% 0 3% 4%;
    padding-bottom: 1.5%;
}

.caption-button:active {
    transform: translate(1px,2px);
}

.button-label {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.portfolio-content .caption-button-link .glyphicon {
    color: white;
}

/*----------FORM AND CONTACTS------------- */


.col-md-3 {                                                    /* Message form of the template */
    padding-left: 0;
}

.message-form {
    margin-top: 30%;
    margin-left: 0;
}


.form-header {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #3e3e3e;
    margin-bottom: 9%;
}

.message-form .form-control {
    border: 1px solid #3e3e3e;
    border-radius: 0;
    margin-bottom: 7%;
    color: #656565;
    font-style: italic;
}

.form-button {
    background-color: #fb6470;
    border: none;
    padding: 3% 5%;
    margin-left: 71%;
}

.form-button:active {
    transform: translate(1px,2px);
}

.form-button-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.form-button-link:hover {
    text-decoration: none;
    color: white;
}

.contact {                                                /* Contact section of the template */
    margin-top: 30%;
}

.contact .glyphicon-home, .glyphicon-send {                       /* Icons for the Contact */
    transform: scale(2);
}

.contact .glyphicon-earphone {
    transform: scale(2) rotate(90deg);
}

.contact span {                                         /* margin for Contact's Icons */
    margin-left: 64%;
}

.contact span:nth-of-type(1n+2) {
    margin-top: 77px;
}


.contact .contact-method {                              /* Methods for Contact */
    margin: -5% 0 0 15%;
}

.contact .contact-method:nth-of-type(1n+2) {           /* margin for Contact's methods */
    margin-top: 14%;
}

.contact-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #3e3e3e;
}

.contact-details {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #8b8b8b;
    margin-top: 5%;
}

/*-------FOOTER--------*/


.footer {
    margin-top: 9%;
}

.footer-icons {                                            /* Icons for footer */
    margin: 0 auto;
    width: 15%;
    list-style-type: none;
}

.footer-icons li {
    display: inline-block;
}

.footer-icons .icon-1 {                                    /* Twitter icon settings */
    height: 32px;
    width: 37px;
    background: url('../image/8-social-icons-sprites.jpg') no-repeat -56px -182px;
}

.footer-icons .icon-1:hover {
    background-position: -56px -148px;
}

.footer-icons .icon-2 {                                    /* Skype icon settings */
    height: 32px;
    width: 37px;
    background: url('../image/8-social-icons-sprites.jpg') no-repeat -511px -360px;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
}

.footer-icons .icon-2:hover {
    background-position: -511px -326px;
}

.footer-icons .icon-3 {                                    /* Dribbble icon settings */
    height: 32px;
    width: 37px;
    background: url('../image/8-social-icons-sprites.jpg') no-repeat -133px -182px;
}

.footer-icons .icon-3:hover {
    background-position: -133px -148px;
}

.icon-link {                                              /* Hiding links of icons */
    color: transparent;
    text-decoration: none;
}

.icon-link:hover {
    color: transparent;
}

.icon-link:active {
    color: transparent;
}

.footer-copyright {                                      /* Copyright notice of Footer */
    width: 26%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #8b8b8b;
}